<h1 class="text-center">{{name}}</h1>
<input type="text" class="form-control text-center" [(ngModel)]="motto">
<h2 class="text-center">{{motto}}</h2>
<p class="lead text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur libero doloribus qui atque ducimus magnam ad, molestiae voluptate obcaecati odit assumenda, nisi id nobis ea aut labore quidem corporis excepturi.
Nostrum nesciunt ab asperiores, id temporibus officia ullam a ea, amet praesentium consequatur velit labore cupiditate laboriosam, eius aperiam. Neque tempora eligendi maiores ipsam amet odit? Expedita blanditiis dignissimos minus.</p>

